@import '../styles/variables.scss';

.posts-list-wrapper {
    margin: 30px auto;
    max-width: 640px;
}

.posts-list-title {
    font-size: 1em;
    font-weight: 500;
}

.post-item {
    padding-left: 40px;
}

.post-info {
    color: $secondary-color;
    font-size: 12px;
    font-weight: 400;
}

.post-content {
    font-size: 16px;
}

.post-comments-count {
    color: $secondary-color;
}
.toggle-comments-button {
    padding: 8px;
    background: none;
    border: none;
    border-radius: 2px;
    color: inherit;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: rgba($main-color, 0.1);
    }
}
.post-comments-icon {
    display: inline-block;
    margin-right: 6px;
    font-size: 16px;
    vertical-align: middle;
}