@import '../styles/variables.scss';

.username-component {
    margin: auto;
    max-width: 400px;
}

.username-title {
    margin-bottom: 5px;
}

.username-input-wrapper {
    position: relative;
}

.username-input {
    padding: 7px 12px 7px 28px;

    &:focus,
    &:active {
        outline: 1px solid #666;
    }
}

.username-edit-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    margin: auto;
}

@media (min-width: 980px) {
    .username-component {
        margin-left: 0;
    }
}